/*================================*/


@media (max-width: 800px) 
{
  
  .banner
   {
       width: 350px;
       padding-bottom: 40px;
   }
}

  @media (min-width: 800px) 
{

   .banner
   {
       width: 100%;
       padding-bottom: 40px;
   }
 
}



/*================================*/