@charset "UTF-8";






.marg{
  margin-top: 40%;
}
 table, td, tr{
 border: 2px solid rgb(38, 133, 72);

 }


.titulosSlider{
  text-shadow: -2px -2px 1px #000;
  color: #A0C8C3;
  font-size: 50px;
}

 header {
   background: white;
   width: 100%;
   z-index: 100;
 }

/*-----*/

 .imgs{
     width:50%;
     margin-left: 25px;
     border-radius: 30px;
   }


 .estiloMenu{
   margin-left: 10px;
   font-size: 20px;

 }


 /*------------------------------------*\
   Estilo Quienes Somos  ↓↓↓
 \*------------------------------------*/

 .projects-section {
   padding: 7rem 0;
 }
 .projects-section .featured-text {
   padding: 2rem;
 }


 .titulosSobre{
   text-shadow: -2px -2px 1px #000;
   color: #A0C8C3;
   font-size: 50px;
 }

 .tituloBorde{
   width:500px;
   border-bottom: 5px ridge  #A0C8C3;
   display: table;
   margin-right: auto;
   margin-left: auto;
 }


 .imgFormat
 {
border-radius: 20%;
 }

 @media (min-width: 992px) {
   .projects-section .featured-text {
     padding: 0 0 0 2rem;
     border-left: 0.5rem solid #64a19d;
   }
 }
 .projects-section .project-text {
   padding: 3rem;
   font-size: 90%;
 }
 @media (min-width: 995px) {
   .projects-section .project-text {
     padding: 5rem;
   }
   .projects-section .project-text hr {
     border-color: #64a19d;
     border-width: 0.25rem;
     width: 30%;
   }


 }

 @media (max-width: 1200px){
   .titulosSobre{
     font-size: 35px;
   }


   .tituloBorde{
     width: 350px;
   }

   .titulosSlider{
     font-size: 35px;
   }
 }



/*------------------------------------*\
  Estilo Problematicas  ↓↓↓
\*------------------------------------*/
.card{
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  border-radius: 18px;
  background: transparent;
  font-family: roboto;
  text-align: center;
}

.card-text {
  grid-area: text;
}



.card-text {
  grid-area: text;
  margin: 25px;
}

.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:35px;
}

.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;


  background: #a7bfc7;
}

.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;
  padding:10px;
}

.card {
  transition: 0.5s ease;

}


.imgFormato{
  border-radius: 5%;
  margin-top: 20px;
}






/**/

 body {

   background-color: #dd1212;
 }



 nav{

   color:rgb(50, 133, 74);
 }

 .color{
   color: black;
 }

 nav a {
    background:rgba(#bfbfbf, 0);
    color: black;
    min-width:190px;
    transition: background 0.5s, color 0.5s, transform 0.5s;
    margin:0px 6px 6px 0px;
    padding:20px 40px;
    box-sizing:border-box;
    border-radius:3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    position:relative;
 }

 nav a:hover:before {
    content: '';
    color: rgb(117, 168, 62);
    top:0;left:0;
    position:absolute;
    background:rgba(0, 0, 0, 0.2);
    width:100%;
    height:100%;
 }

 .dropdown-content a:hover{
   color: black;
 }

 ul.dropdown-menu {
     background-color:rgba(9, 7, 7, 0.88);
     opacity: 80%;
 }


 strong{
   color: white;
   font-size: 20px;
 }


 navbar-toggler-icon{
   color:black;
 }

 button{
   background: black;
 }
 .slider {
 	width: 50%;
 	margin: auto;
 	overflow: hidden;
 }

 .slider ul {
 	display: flex;
 	padding: 0;
 	width: 400%;

 	animation: cambio 20s infinite alternate linear;
 }

 .slider li {
 	width: 100%;
 	list-style: none;
 }

 .slider img {
 	width: 100%;
 }

 @keyframes cambio {
 	0% {margin-left: 0;}
 	20% {margin-left: 0;}

 	25% {margin-left: -100%;}
 	45% {margin-left: -100%;}

 	50% {margin-left: -200%;}
 	70% {margin-left: -200%;}

 	75% {margin-left: -300%;}
 	100% {margin-left: -300%;}
 }



/*PIE DE PAGINA*/
:root {

  --bs-black-rgb: 0, 0, 0;

}



.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.bg-black {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
}


.btnColor{
  background: #64a19d;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 90%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
  opacity: 60%;
  border-radius: 5px;
  color: white;

}

.awesomeColor{
  color: #64a19d;
}

.signup-section {
  padding: 5rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%), url("../parts/puertolimpio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.signup-section .form-signup input {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding-top: 1rem;
}
.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
}
.contact-section .card h4, .contact-section .card .h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.contact-section .card hr {
  /*border-color: #64a19d;*/
  border-width: 0.25rem;
  width: 5rem;
}
.contact-section .social {
  margin-top: 4rem;
}
.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}
.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}


.footer {
  padding: 3rem 0;
}


/*------------------------------------*\
  Estilo de la parte de (Que hacemos 1)  ↓↓↓
\*------------------------------------*/
.number .container-fluid
{
    background-image: url('file:///C:/Users/dycr1/Downloads/nathan-farrish-6rsiaZ-xF1s-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.opaline
{
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: rgba(66, 144, 64, 0.66);
}
.opaline .boxes
{
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 5px;
    border: 1px solid #FFF;
}

.boxes .odometer.odometer-theme-default
{
  font-family: 'Roboto Slab', serif;
}
.gallery
{
    background-color: #dddddd;
}
.prefooter .container-fluid
{
    background: linear-gradient(
      rgba(33, 37, 43, 0.6),
      rgba(33, 37, 43, 0.6)
    ),

    url(https://unsplash.it/4000/3000?image=528);
}
.story .container-fluid
{
    background-image: url('https://unsplash.it/3000/2000?image=531');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.number .container-fluid
{
    background-image: url('file:///C:/Users/dycr1/Downloads/nathan-farrish-6rsiaZ-xF1s-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.opaline
{
    padding-top: 8em;
    padding-bottom: 8em;
    padding-left: 5em;
    padding-right: 5em;
    margin-left: 3%;
    background-color: rgba(66, 144, 64, 0.66);
}

.opaline h1,
.opaline h2,
.opaline h3,
.opaline h4,
.opaline h5,
.opaline h6,
.opaline p
{
    color: #FFFFFF;
}



.boxes .odometer.odometer-theme-default
{
  font-family: 'Roboto Slab', serif;
}

.story .container-fluid
{

    background-image: url('../parts/limpieza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.prefooter .container-fluid
{
    background: linear-gradient(
      rgba(33, 37, 43, 0.6),
      rgba(33, 37, 43, 0.6)
    ),

    url(https://unsplash.it/4000/3000?image=528);
}

.prefooter h1,
.prefooter h2,
.prefooter h3,
.prefooter h4,
.prefooter h5,
.prefooter h6,
.prefooter p
{
    color: #FFFFFF;
}
.number .container-fluid
{
    background-image: url('file:///E:/xampp/htdocs/CII2021/TCU/def/TCU/parts/limpieza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*------------------------------------*\
	Estilo de la parte de (Que hacemos 1) ↑↑↑
\*------------------------------------*/


/*PADDING DEL MENU*/
@media screen and (max-width: 1000px)
{

  .imgFormat{
    width: 400px;
    height: 300px;
  }
}

.editp
{
  font-size: 25px;
  color: #294627;
  text-align: center;
}

.editp_02
{
  font-size: 25px;
  color: #294627;
  text-align: justify;
}

/* Clases de Hernan*/
h3 {
	font-family:Roboto;
	font-weight:700;
}

.imagen_ini
{
	background-repeat:no-repeat;
	border-radius: 60px;
}

.img_cor
{
  background-repeat:no-repeat;
	width: 400px;
}

.texto_vol {
	font-weight:700;
	font-size:20px;
	line-height:38px;
	color:#444;
	text-transform:uppercase;
	display:block;
	margin-bottom:10px;
}

.icono {
	background-color:#00bba7;
	border-radius:50%;
	color:#fff;
	margin-right:4px;
	height:60px;
	width:60px;
	line-height:60px;
	display:inline-block;
	font-size:25px;
	font-weight:700;
	margin-top:20px;
}

.icono_2
{
	color: #00bba7;
	margin-right:8px;
	display:inline-block;
	margin-top:30px;
  margin-bottom: 25px;
}

.lineavolu
{
  border-bottom: 5px ridge  #00bba7;
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.titulosvolu
{
  color: #00bba7;
}


@media (max-width: 800px)
{
  .img_vol
  {
    width: 300px;
    border-radius: 60px;
  }

  .contenido
  {
     width: 300px;
     height: 300px;
     margin: auto;
 }
  .img_prob
  {
    width:100%;
    height: 200px;
  }

  }

  @media (min-width: 800px)
{
  .img_vol
  {
    width: 650px;
    background-repeat:no-repeat;
	  border-radius: 60px;
  }

  .contenido
 {
    width: 650px;
    height: 700px;
    margin: auto;
}
.img_prob
{
  width:100%;
  height: 350px;
}

}

i:hover
{
  color: #000;
}

/*================================*/
